@model TakagiSugeno.Model.ViewModels.RuleVM
@using TakagiSugeno.Model
@inject TakagiSugeno.Model.Services.RulesService rulesService
@{
    var VariablesLists = ViewBag.VariablesList ?? rulesService.CreateVariablesLists(1); // TODO id
    var ChartsData = ViewBag.ChartsData ?? rulesService.CreateChartsData(1); //TODO id
}

<tr id="@Model.RuleId">
    <td style="padding-top:25px;">
        <span class="glyphicon glyphicon-remove remove-rule"></span>
    </td>
    <td style="padding-top:25px;">
        <span><span class="index"></span>.&nbsp;&nbsp;<i class="glyphicon glyphicon-chevron-down collapse-button"></i></span>
    </td>
    @foreach (var elem in Model.RuleElements)
    {
        <td>
            <div class="panel panel-default collapse-panel">
                <div class="panel-heading">
                    @if (elem.Type == RuleElementType.InputPart)
                    {
                        <select asp-for="@elem.VariableId" asp-items="@VariablesLists[elem.InputOutputId]" class="form-control variable-select"></select>
                    }
                    else
                    {
                        <select asp-for="@elem.VariableId" asp-items="@VariablesLists[elem.InputOutputId]" class="form-control"></select>
                    }

                </div>
                @{
                    if (elem.Type == RuleElementType.InputPart)
                    {
                        <div class="panel-body chart-container">
                            @{var chartData = ChartsData[elem.InputOutputId];}
                            @foreach (var item in chartData)
                            {
                                <div class="json-data" hidden data-chartJson='@item.Data' data-type=@item.Type data-id=@item.VariableId></div>
                            }
                        </div>
                    }
                }
            </div>
        </td>
                                if (elem.Type == RuleElementType.InputPart)
                                {
                                    bool isLast = Model.RuleElements.Where((e, i) => e.Type == RuleElementType.OutputPart && i == Model.RuleElements.IndexOf(elem) + 1).Count() > 0;
                                    if (isLast)
                                    {
                                        <td>
                                            <div class="panel panel-default">
                                                <div class="panel-heading text-only">
                                                    <span>Then</span>
                                                </div>
                                            </div>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <select class="form-control">
                                                        <option value="0" selected>And</option>
                                                        <option value="1">Or</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </td>
                                    }
                                }
                                else
                                {
                                    if (Model.RuleElements.IndexOf(elem) != Model.RuleElements.Count - 1)
                                    {
                                        <td>
                                            <div class="panel panel-default">
                                                <div class="panel-heading text-only">
                                                    <span>And</span>
                                                </div>
                                            </div>
                                        </td>
                                        }
                                    }
                                }
</tr>

