@model IEnumerable<TakagiSugeno.Model.ViewModels.SystemVM>
@{
    ViewBag.Title = "Lista systemów";
}


<div class="row">
    <div class="col-sm-8">
        <h2 class="header">
            List opublikowanych systemów
        </h2>
    </div>
    <div class="col-sm-4">
        <div class="pull-right">
            <a asp-controller="Systems" asp-action="New" class="btn btn-success" id="btnAdd" style="margin-top:20px;"><span class="glyphicon glyphicon-plus"></span> Nowy</a>
            <label class="btn btn-primary btn-file" style="margin-top:20px;">
                <span class="glyphicon glyphicon-open-file"></span> Wczytaj z pliku 
                <input type="file" id="fileOpen" style="display: none;" accept=".json">
            </label>
        </div>

    </div>
</div>
<br /><br />
<table class="table systems-table table-striped">
    <thead>
        <tr>
            <th>Nazwa</th>
            <th>Autor</th>
            <th>Data publikacji</th>
            <th class="nosort">Opis systemu</th>
            <th class="nosort"></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var system in Model)
        {
            <tr>
                
                <td class="col-sm-3">@system.Name</td>
                <td class="col-sm-3">@system.CreatedBy</td>
                <td class="col-sm-2">@system.PublishedDate.ToString("d")</td>
                <td class="col-sm-2 system-desc" style="padding-right: 8px"><span data-toggle="tooltip" data-placement="top" title="@system.Description"><u>Opis</u></span></td>
                <td class="col-sm-2">
                    <div class="pull-right">
                        <a asp-controller="SystemOverview" asp-action="Index" asp-route-systemId="@system.TSSystemId" data-toggle="tooltip" data-placement="top" title="Otwórz do odczytu"><span class="glyphicon glyphicon-open glyph-button" ></span></a>&nbsp;&nbsp;
                        <a asp-controller="Systems" asp-action="Clone" asp-route-systemId="@system.TSSystemId" data-toggle="tooltip" data-placement="top" title="Otwórz kopię do edycji"><span class="glyphicon glyphicon-edit glyph-button"></span></a>&nbsp;&nbsp;
                        <a asp-controller="Systems" asp-action="SaveToFile" asp-route-systemId="@system.TSSystemId" data-toggle="tooltip" data-placement="top" title="Zapisz do pliku"><span class="glyphicon glyphicon-save-file glyph-button"></span></a>
                    </div>
                </td>
            </tr>

        }
    </tbody>
</table>



<script src="~/lib/datatables/datatables.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();

        $(".systems-table tr").each(function (i, v) {
            $(v).find(".index").text(i++);
        });

        $(".systems-table").DataTable({
            language: {
                "processing": "Przetwarzanie...",
                "search": "Szukaj:",
                "lengthMenu": "Pokaż _MENU_ pozycji",
                "info": "Pozycje od _START_ do _END_ z _TOTAL_ łącznie",
                "infoEmpty": "Pozycji 0 z 0 dostępnych",
                "infoFiltered": "(filtrowanie spośród _MAX_ dostępnych pozycji)",
                "infoPostFix": "",
                "loadingRecords": "Wczytywanie...",
                "zeroRecords": "Nie znaleziono pasujących pozycji",
                "emptyTable": "Brak danych",
                "paginate": {
                    "first": "Pierwsza",
                    "previous": "Poprzednia",
                    "next": "Następna",
                    "last": "Ostatnia"
                },
                "aria": {
                    "sortAscending": ": aktywuj, by posortować kolumnę rosnąco",
                    "sortDescending": ": aktywuj, by posortować kolumnę malejąco"
                }
            },
            aoColumnDefs: [{
                'bSortable': false,
                'aTargets': ['nosort']
            }]
        });
    });

    $("#fileOpen").change(function () {
        var file = $('#fileOpen').get(0).files[0];
        var formData = new FormData();
        formData.append('system', file);
        $.ajax({
            type: "POST",
            url: "/Systems/ReadFromFile",
            contentType: false,
            processData: false,
            data: formData,
            success: function (resposne) {
                if (resposne == null) {
                    alert("Błąd podczas czytania z pliku - zły fromat lub błędne dane");
                } else {
                    var url = "/SystemOverview/Index/?systemId=" + resposne;
                    window.location.href = url;
                }
            },
        });
    });
</script>