@model IEnumerable<TakagiSugeno.Model.ViewModels.OutputVM>
@using TakagiSugeno.Tools;
@{
}

<div>
    <ul class="outputs-list" id='@ViewBag.Title' data-id='@Model.FirstOrDefault()?.SystemId'>
        @foreach (var item in Model)
        {
            <li class="output-element" id="Output-@item.OutputId">
                <p hidden>@item.OutputId</p>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-remove pull-right remove-output"></span>
                        <b>@item.Name</b>
                    </div>
                    <div class="panel-body" id="@item.OutputId" style="padding-top:20px;">
                        @foreach (var variable in item.Variables)
                        {
                            if (item.Variables.IndexOf(variable) == 3)
                            {
                                <p>...</p>
                                break;
                            }
                            <p>@variable.Name [@variable.Type.DisplayName()]</p>
                        }
                    </div>
                </div>
            </li>
        }
    </ul>

<script type="text/javascript">

    $(".outputs-list").on("click", ".output-element", function () {
        var id = $(this).attr("id").split('-')[1];
        var isAjax = !$(this).parents(".navbar-fixed-left").length == 0;
        //var title = $(this).parents(".outputs-list").attr("id");
        return openOutput(id, isAjax);

    });

    $(".outputs-list").on("click", ".remove-output", function () {
        var id = $(this).parents(".output-element").attr("id").split('-')[1];
        $("#removeOutputModal #remove-output-name").text($(this).parent().text().trim());
        $(".modal-footer .btn-success").attr('data-id', id);
        $("#removeOutputModal").modal("show");
        return false;

    });

    $(".outputs-list").on("mouseenter", ".panel", function () {
        $(this).removeClass("panel-default");
        if (!$(this).hasClass("panel-primary")) {
            $(this).addClass("panel-info");
        }
    });

    $(".outputs-list").on("mouseleave", ".panel", function () {
        $(this).removeClass("panel-info");
        if (!$(this).hasClass("panel-primary")) {
            $(this).addClass("panel-default");
        }
    });
    </script>
</div>

