@model IEnumerable<TakagiSugeno.Model.ViewModels.InputVM>

@{
}
<div>
<ul class="inputs-list" id='@ViewBag.Title' data-id='@Model.FirstOrDefault().SystemId'>
    @foreach (var item in Model)
    {
        <li class="input-element" id="Input-@item.InputId">
            <p hidden>@item.InputId</p>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-remove pull-right remove-input"></span>
                    <b>@item.Name</b>
                    @foreach (var variable in item.Variables)
                    {
                        <div class="json-data" hidden data-chartJson='@variable.JsonData' data-type=@variable.Type></div>
                    }
                </div>
                <div class="panel-body" id="@item.InputId">
                    
                </div>
            </div>
        </li>
    }
</ul>

<script type="text/javascript">
    $(document).ready(function () {
        
        var containers = $(".inputs-list .panel-body");
        $.each(containers, function (index, value) {
            var id = $(value).attr("id")
            var chart = new CanvasJS.Chart(id, {
                data: [],
            });
            $(value).parent().find(".json-data").each(function () {
                createChartFromJSONData(chart, $(this));
            })
            chart.render();
        })
    });

    $(".inputs-list").on("click", ".remove-input", function () {
        var id = $(this).parents(".input-element").attr("id").split('-')[1];
        $("#removeInputModal #remove-input-name").text($(this).parent().text().trim());
        $(".modal-footer .btn-success").attr('data-id', id);
        $("#removeInputModal").modal("show");
        return false;

    });

    $(".inputs-list").on("click", ".input-element", function () {
        var id = $(this).attr("id").split('-')[1];
        //var title = $(this).parents(".inputs-list").attr("id");
        var isAjax = !$(this).parents(".navbar-fixed-left").length == 0;
        return openInput(id, isAjax);

    });

    $(".inputs-list").on("mouseenter", ".panel", function () {
        $(this).removeClass("panel-info");
        $(this).addClass("panel-primary");
    });

    $(".inputs-list").on("mouseleave", ".panel", function () {
        $(this).removeClass("panel-primary");
        $(this).addClass("panel-info");
    });
</script>
</div>